<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>URL Shortener</title>
    <link rel="stylesheet" href="/style.css" />
  </head>

  <body>
    <%- include('partials/header') %>

    <main class="container home-container">
      <h1 class="page-title">URL Shortener</h1>

      <form action="/" method="post" class="form">
        <div class="form-group">
          <label for="url" class="form-label">Enter URL:</label>
          <input type="url" name="url" id="url" class="form-input" required />
        </div>

        <div class="form-group">
          <label for="shortCode" class="form-label"
            >Custom Short URL (Optional):</label
          >
          <input
            type="text"
            name="shortCode"
            id="shortCode"
            class="form-input"
          />
        </div>

        <% if (errors.length > 0) { %> <% errors.forEach(function(error) { %>
        <p class="error-message"><%= error %></p>
        <% }); %> <% } %>

        <button type="submit" class="btn">Shorten</button>
      </form>

      <h2 class="shortened-title">Shortened URLs</h2>

      <div class="card-container">
        <ul class="links-list">
          <% links.forEach(({ shortCode, url }) => { %>
          <li class="link-card">
            <div class="link-content">
              <a href="/<%= shortCode %>" target="_blank" class="link">
                <%= host %>/<%= shortCode %>
              </a>
              <span class="link-url"><%= url %></span>
            </div>
            <div class="copy-section">
              <button class="copy-btn" data-url="<%= host %>/<%= shortCode %>">
                Copy
              </button>
            </div>
          </li>
          <% }) %>
        </ul>
      </div>
    </main>

    <%- include('partials/footer') %>

    <script>
      document.querySelectorAll(".copy-btn").forEach((button) => {
        button.addEventListener("click", () => {
          const url = button.getAttribute("data-url");

          const tempInput = document.createElement("input");
          tempInput.value = url;
          document.body.appendChild(tempInput);

          tempInput.select();
          document.execCommand("copy");

          document.body.removeChild(tempInput);

          button.innerText = "Copied!";
          setTimeout(() => {
            button.innerText = "Copy";
          }, 2000);
        });
      });
    </script>
  </body>
</html>
